@import url('https://fonts.cdnfonts.com/css/lemonmilk');

body {
    background-color: #F2D1C9;
    margin: 0;
}

nav {
    background-color: white; 
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 38px;
    position: relative;
}

nav a {
    color: #D99791;
    text-decoration: none; 
    margin: 0 15px;
}    
nav a:hover { 
    color: #79717A; 
}

.marca{
    margin-top: -70px;
    position: absolute;
    right: 1090px;
}

.nome {
  font-size: 2rem;
  color: #000000; 
  margin: 0;
  font-family: 'Lemon/Milk', sans-serif;
  letter-spacing: 2px; 

}

.slogan {
  font-size: 0.8rem;
  color: #D99696;
  margin: -4px;
  margin-left: 30px;
}

